# Database
DATABASE_URL="postgresql://user:password@localhost:5432/eugsk"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-change-in-production"

# Email (Nodemailer)
SMTP_HOST="mail.erzurumuniversiteligenclersk.org"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER="info@erzurumuniversiteligenclersk.org"
SMTP_PASS="your-email-password"
SMTP_FROM="Erzurum Üniversiteli Gençler SK <info@erzurumuniversiteligenclersk.org>"

# Upload
UPLOAD_DIR="public/uploads"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
